<nav class="bg-white shadow-md">
    <div class="container mx-auto px-6 py-3">
        <div class="flex justify-between items-center">
            <a class="font-bold text-2xl lg:text-3xl" href="./index.html">
                StockQuest Jr.
            </a>

            <div class="lg:hidden">
                <button id="hamburger-btn" class="text-gray-700 focus:outline-none">
                    <i class="fas fa-bars fa-lg"></i>
                </button>
            </div>

            <div class="lg:flex lg:items-center lg:space-x-4">
                <a class="py-2 px-3 text-gray-700 hover:text-gray-900" href="./index.html">Game</a>
                <a class="py-2 px-3 text-gray-700 hover:text-gray-900" href="./learning.html">Learning</a>
                <a class="py-2 px-3 text-gray-700 hover:text-gray-900" href="./quiz.html">Quiz</a>
                <a class="py-2 px-3 text-gray-700 hover:text-gray-900" href="./about.html">About</a>
            </div>
        </div>

        <div id="mobile-menu" class="hidden lg:hidden mt-4">
            <a href="./index.html" class="block py-2 px-4 text-sm hover:bg-gray-200">Game</a>
            <a href="./learning.html" class="block py-2 px-4 text-sm hover:bg-gray-200">Learning</a>
            <a href="./quiz.html" class="block py-2 px-4 text-sm hover:bg-gray-200">Quiz</a>
            <a href="./about.html" class="block py-2 px-4 text-sm hover:bg-gray-200">About</a>
        </div>
    </div>
</nav>